@using WebTeaApp.Services
@inject AuthService AuthService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebTeaApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PersonalShelfView">
                <span class="bi icon-center bi-list-nested-nav-menu" aria-hidden="true"></span> Personal Shelf
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BrewingHistoryView">
                <span class="bi icon-center bi-list-nested-nav-menu" aria-hidden="true"></span> Brewing History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="company">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Company
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teatypes">
                <span class="bi  bi-list-nested-nav-menu" aria-hidden="true"></span> TeaType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tea">
                <span class="bi  bi-list-nested-nav-menu" aria-hidden="true"></span> Tea
            </NavLink>
        </div>
    </nav>
</div>

